Node-RED/node-red-flow.json
[{"id":"4185922c.1e3bac","type":"e-mail in","z":"2f9def8c.b77df","name":"FromEmail","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","repeat":"30000","x":80,"y":60,"wires":[["57d232a.fc527cc","3b3b5f7d.a039f"]]},{"id":"2b14dfe5.b9451","type":"natural-language-understanding","z":"2f9def8c.b77df","name":"nlu-wv","categories":true,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"10","keyword":true,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api/v1/analyze?version=2017-02-27","x":110,"y":140,"wires":[["d950459f.95f078"]]},{"id":"c496126a.bb3ca","type":"cloudant out","z":"2f9def8c.b77df","name":"cloudant node","cloudant":"268783c1.68acec","database":"email","service":"_ext_","payonly":false,"operation":"insert","x":680,"y":280,"wires":[]},{"id":"d950459f.95f078","type":"function","z":"2f9def8c.b77df","name":"Update NLU ouput function","func":"var newMsg = {}\n\nnewMsg.text = msg.payload\nnewMsg.payload = msg.payload\nnewMsg.cust_details = msg.cust_details\nnewMsg.set = 'telco'\nnewMsg.from = msg.from\nnewMsg.to = msg.to\nnewMsg.subject = msg.topic\n\nnewMsg.entities = {}\nnewMsg.entities.first_name = msg.cust_details.first_name\nnewMsg.entities.last_name = msg.cust_details.last_name\nnewMsg.entities.phone_no = msg.cust_details.phone_no\nnewMsg.entities.plan_old = msg.cust_details.plan_old\n\n\nfor(var entity of msg.features.entities){\n   if( entity.type == 'new_plan' ){\n      newMsg.entities.new_plan = entity.text\n   }\n   if( entity.type == 'service' ){\n      newMsg.entities.service = entity.text\n   }\n   if( entity.type == 'add_user_first_name' ){\n      newMsg.entities.add_user_first_name = entity.text\n   }\n   if( entity.type == 'add_user_last_name' ){\n      newMsg.entities.add_user_last_name = entity.text\n   }\n   if( entity.type == 'add_user_phone_no' ){\n      newMsg.entities.add_user_phone_no = entity.text\n   }\n}\n\nnewMsg.response = null\nnewMsg.timestamp = msg.date\nnewMsg.permanent = 'true'\nnewMsg.loopback__model__name = 'email'\nreturn newMsg;","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["bcfceee8.7d7a7"]]},{"id":"bcfceee8.7d7a7","type":"watson-natural-language-classifier","z":"2f9def8c.b77df","name":"EYClassifier","mode":"classify","language":"en","classifier":"","collections-off":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-classifier/api","x":130,"y":280,"wires":[["4ae5fac9.7372d4","c31df201.2f45"]]},{"id":"4ae5fac9.7372d4","type":"function","z":"2f9def8c.b77df","name":"Update NLC output function","func":"var topClass = msg.payload.top_class\nnode.log(msg.payload.top_class)\nmsg.requestType = topClass\nvar isAnyInfoMissing = false\ndelete msg.payload\ndelete msg.cust_details\n\n    \nif( msg.requestType == 'change_plan'){\n    if( !msg.entities.new_plan ){\n        msg.entities.new_plan = null\n        isAnyInfoMissing = true\n    }\n    if( isAnyInfoMissing ){\n        msg.status = 'Incomplete'\n    }else{\n        msg.status = 'Complete'\n    }\n    delete msg.entities.service\n    delete msg.entities.add_user_first_name\n    delete msg.entities.add_user_last_name\n    delete msg.entities.add_user_phone_no\n    \n}\nif( msg.requestType == 'add_family_member_to_plan'){\n    if( !msg.entities.add_user_first_name ){\n        msg.entities.add_user_first_name = null\n        isAnyInfoMissing = true\n    }\n    if( !msg.entities.add_user_last_name ){\n        msg.entities.add_user_last_name = null\n        isAnyInfoMissing = true\n    }\n    if( !msg.entities.add_user_phone_no ){\n        msg.entities.add_user_phone_no = null\n        isAnyInfoMissing = true\n    }\n    if( isAnyInfoMissing ){\n        msg.status = 'Incomplete'\n    }else{\n        msg.status = 'Complete'\n    }\n    delete msg.entities.service\n    delete msg.entities.new_plan\n}\n\nif( msg.requestType == 'enable_service' || msg.requestType == 'disable_service' || msg.requestType == 'service'){\n    if( !msg.entities.service && !msg.entities.enable_service && !msg.entities.disable_service){\n        msg.entities.service = null\n        isAnyInfoMissing = true\n    }\n    if( isAnyInfoMissing ){\n        msg.status = 'Incomplete'\n    }else{\n        msg.status = 'Complete'\n    }\n    delete msg.entities.add_user_first_name\n    delete msg.entities.add_user_last_name\n    delete msg.entities.add_user_phone_no\n    delete msg.entities.new_plan\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":280,"wires":[["c496126a.bb3ca","ac51cdf4.04cbe"]]},{"id":"23a5322b.cc1ace","type":"function","z":"2f9def8c.b77df","name":"Add Model Id","func":"msg.payload = msg.temppayload // put the temppayload data back to payload back\nmsg.cust_details = msg.cloudant\nmsg.nlu_options = {}\nmsg.nlu_options.entity_model='xxx'\n//msg.payload = msg.payload.substring(0, 200);\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":60,"wires":[["2b14dfe5.b9451"]]},{"id":"bbc62732.d0c918","type":"cloudant in","z":"2f9def8c.b77df","name":"customer_data_search","cloudant":"268783c1.68acec","database":"customer_data","service":"_ext_","search":"_id_","design":"","index":"","x":580,"y":60,"wires":[["23a5322b.cc1ace"]]},{"id":"57d232a.fc527cc","type":"function","z":"2f9def8c.b77df","name":"AddFromEMailToPayload","func":"msg.temppayload = msg.payload\nmsg.payload = msg.from\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["bbc62732.d0c918"]]},{"id":"ac51cdf4.04cbe","type":"debug","z":"2f9def8c.b77df","name":"nlc op","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":400,"wires":[]},{"id":"c31df201.2f45","type":"debug","z":"2f9def8c.b77df","name":"classifier op","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":260,"y":380,"wires":[]},{"id":"3b3b5f7d.a039f","type":"debug","z":"2f9def8c.b77df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":160,"y":20,"wires":[]},{"id":"268783c1.68acec","type":"cloudant","z":"","host":"","name":"Cloudant Node"}]
